@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import "variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.vh-60 {
  height: 60vh;
  overflow: hidden;
}

.theme-cl {
  color: #df3411 !important;
}

.theme-cl-2 {
  color: #0b85ec;
}

.theme-bg {
  background: #df3411;
}

.bl-dark {
  background: #1e2944;
}

.dark-2 {
  background: #2944c1;
}

.dark-3 {
  background: #0b85ec;
}

.btn.theme-bg {
  color: #ffffff !important;
}

.theme-bg-blue {
  background: #0b85ec;
}

.theme-bg-green {
  background: #01b753;
}

.gray-light {
  background: #f6f7f9;
}

.page-title {
  width: 100%;
  height: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #2944c1;
}

.ht-80 {
  height: 80vh;
}

.ht-60 {
  height: 60vh;
}

.page-title .ipt-title {
  color: #ffffff;
}

.ipt-title {
  margin-bottom: 5px;
}

.ipn-subtitle {
  font-size: 20px;
  font-family: initial;
  font-style: italic;
}

.ipn-subtitle {
  color: #728afb;
}
