.lists-3 {
  margin: 0;
  padding: 0;
}

.lists-3 li {
  list-style: none;
  margin: 1px 0 14px 22px;
  line-height: 27px;
  position: relative;
}

.lists-3 li:before {
  font-family: 'themify', serif;
  margin: 0 0 0 -22px;
  position: relative;
  color: #66676b;
  float: left;
  display: block;
  content: "\e64c";
  font-size: 13px;
}

.about-captione {
  line-height: 175%;
  color: #66676b;

  .text-blue {
    color: #02bec9;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  html body div#root main section.py-5 div.container div.row.align-items-center div.col-lg-6.col-md-6.col-sm-12 div.about-captione h6.text-blue {
    margin-top: 1rem;
  }
}