.filter-row {
  height: 3.5rem;

  .filter-options {
    position: absolute;
    right: 30%;
    margin-top: 1rem;
    z-index: 1000;
  }
}

@media only screen and (max-width: 600px) {
  html body div#root main div.container div.row div.col-lg-8.mt-3.col-sm-12 form.form-inline div.form-group.mx-sm-3.mb-2.w-75 {
    width: 70% !important;
    margin-right: 5px;
  }
  html body div#root main div.container div.row div.col-lg-8.mt-3.col-sm-12 form.form-inline div.form-group.mx-sm-3.mb-2.w-75 input{
    font-size: 12px;
  }

  html body div#root main div.container div.row div.col-lg-4.mt-3.col-sm-12 select#sort.form-control option {
    font-size: 14px;

  }
}