footer{
  z-index:99;
  position:relative;
}
footer.dark-footer{
  background:#191f2b;
}

.footer-logo img {
  max-width: 185px;
}
.footer-widget {
  padding: 50px 0;
}
h4.widget-title {
  margin-bottom:12px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0;
  color:#2944c1;
}
.footer-widget p {
  color:#6e7598;
  font-size: 14px;
}
.footer-widget ul {
  padding: 0;
  margin: 0;
}
.footer-widget ul li {
  list-style: none;
  margin-top:10px;
  display: block;
}
.footer-widget ul li a {
  color: #6e7598;
  font-size: 13px;
  font-weight:600;
}
.footer-bottom p {
  color: #6e7598;
  font-size: 14px;
}
.footer-bottom p a{
  color:#2944c1;
  font-weight:600;
}
footer.skin-dark-footer h4 {
  color: #ffffff;
  text-transform: uppercase;
}
footer.skin-dark-footer .footer-widget ul li a, footer.skin-dark-footer, footer.skin-dark-footer a{
  color:#818da5;
  font-size: 14px;
  transition:all ease 0.4s;
}
footer.skin-dark-footer .footer-widget ul li a:hover, footer.skin-dark-footer .footer-widget ul li a:focus{
  color:#ffffff;
}
.img-fluid.f-logo {
  max-width: 240px;
  margin-bottom: 1rem;
}
.footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #e9edf3;
}
.skin-dark-footer .footer-bottom {
  border-top:1px solid rgba(255, 255, 255, 0.06);
}
ul.footer-bottom-social {
  margin: 0;
  padding: 0;
}
ul.footer-bottom-social li {
  display: inline-block;
  list-style: none;
  margin-right: 17px;
  margin-top: 0;
}
ul.footer-bottom-social li a {
  color:#546e7a;
}
ul.footer-bottom-social li a:hover, ul.footer-bottom-social li a:focus{
  color:#007bff;
}
ul.footer-bottom-social li i {
  margin-right: 5px;
}
